/* =============
 * COLOR PALLETE
 * =============
 * light-grey: #F0EBE8;
 * heather-grey: #D4D0DB;
 * dark-grey: #A3A0B0;
 * black: #363636;
 * ocean-blue: #2E3B70;
 * orange: #F2AC35;
 * dark-orange: #E2850C;
 * white: #FFFFFF;
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

html, body {
  height: 200px;
  width: 324px;
  padding: 0px;
  margin: 0px;
  background-color: #2E3B70; /*ocean-blue*/
}

.container {
  height: 100%;
  width: 100%;
  background-color: #2E3B70; /*ocean-blue*/
  color: #FFFFFF; /*white*/
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  padding-top: 35px;
}

/* ================================
 * STYLING FOR ACTIVE BLOCKS HEADER
 * ================================
 */

.active-blocks-header {
  position: fixed;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 35px;
  border-bottom: 3px solid #A3A0B0; /*dark-grey*/
  background-color: #F0EBE8; /*light-grey*/
  color: #A3A0B0; /*dark-grey*/
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
}

.active-blocks-header:hover {
  cursor: pointer;
}

.active-blocks-header i[class*="fa-caret-"] {
  font-size: 17px;
  margin-right: 5px;
}

.active-blocks-header i.fa-exclamation {
  float: right;
  color: #E2850C; /*dark-orange*/
  font-size: 21px;
  -webkit-animation-iteration-count: infinite;
}

/* ==============================
 * STYLING FOR ACTIVE BLOCKS LIST
 * ==============================
 */

.active-blocks-list {
  display: none;
  width: 100%;
  height: 200px;
  background-color: #F0EBE8; /*light-grey*/
  overflow-y: scroll;
  overflow-x: hidden;
}

.active-block {
  position: relative;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #A3A0B0; /*dark-grey*/
  font-size: 18px;
  color: #363636; /*black*/
  letter-spacing: 2px;
  padding: 5px;
}

.active-block:hover i {
  display: block;
}

.active-block i {
  display: none;
  position: absolute;
  left: 10px;
  color: #A3A0B0; /*dark-grey*/
  font-size: 12px;
  cursor: pointer;
}

.active-block i:hover {
  color: #363636; /*black*/
}

.active-block i.fa-times {
  top: 7px;
}

.active-block i.fa-pencil {
  bottom: 7px;
}

.active-block-name-label {
  display: inline-block;
  padding: 5px 15px 5px 25px;
  float: left;
  max-width: 160px;
  overflow-x: hidden;
}

.active-block-time-label {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0px;
  float: right;
  line-height: 37px;
  margin-right: 20px;
}

.active-block-time-label.ready {
  color: #F2AC35; /*orange*/
  letter-spacing: 1px;
}

.active-block-time-label.blocked {
  color: #A3A0B0; /*dark-grey*/
  letter-spacing: 1px;
}


/* =========================
 * STYLING FOR CURRENT BLOCK
 * =========================
 */

.current-view-block {
  box-sizing: border-box;
  padding: 5px;
}

.question-icon {
  color: #F2AC35; /*orange*/
  float: right;
}

.question-icon:hover {
  color: #E2850C; /*dark-orange*/
  cursor: pointer;
}

.block-sentence {
  font-size: 15px;
  padding: 30px 15px 20px 15px;
}

[class*="block-sentence-row-"] {
  display: table;
  width: 100%;
  margin: 10px 0px;
}

.sentence-label {
  display: table-cell;
  white-space: nowrap;
}

.website-input-span {
  display: table-cell;
}

.block-input-website {
  display: table-cell;
  width: 100%;
}

input.block-input {
  border: 0px;
  border-bottom: 1px solid #FFFFFF; /*white*/
  background-color: #2E3B70; /*ocean-blue*/
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

input.block-input:focus {
  outline: 0px;
}

input.block-input[size="2"] {
  width: 20px;
}

/* ===========================
 * STYLING FOR ACTIVATE BUTTON
 * ===========================
 */

.activate-button-container {
  text-align: center;
  margin-bottom: 10px;
}

.activate-button {
  display: inline-block;
  background-color: #F2AC35; /*orange*/
  border-bottom: 3px solid #E2850C; /*dark-orange*/
  padding: 5px 15px;
  color: #2E3B70; /*ocean-blue*/
  text-transform: uppercase;
}

.activate-button:hover {
  cursor: pointer;
}
